footer {
    text-align:center;
    color: $white;
    background-color: $blacker;
    margin: 0;
    // border-radius:0;
    

    p {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        @media(max-width:1000px) {
            display: none;
        }
    }

    
    // height:100vh;
    // width:100%;
    // background-image: url(../../assets/hero/footer-1.jpg);
    // background-size: cover;
}