header {
    height: 100vh;
    background-image: url(../../assets/hero/hero-4.jpg);
    background-size:cover;
    .wrapper {
        height:100%;
    }
    @media(max-width:600px) {
        background-image: url(../../assets/hero/hero-1.jpg);
    }

    .header__wrapper {
        display: flex;
        justify-content: center;
        align-items:center;
    }

} 

.header--content { 
    width:100%;
    height:50%;
    top: 40%;
    display:flex;
    align-items:center;

    .title {
        width: 50%;
        // transform: translateY(50%);
        text-align:left;
        @media(max-width:500px) {
            width:100%;
        }
        @media(max-width:1350px) {
            width:60%;
        }
        @media(max-width: 480px) {
            // transform: translateY(25%);
        }
        img {
            width:100%;
        }
    }

    // img {
    //     width: 600px;
    // }
    
}
.header__logo {
    display:none;
    position:fixed;
    top:25px;
    left:25px;
    z-index:2000;
    @media(max-width:920px) {
        display:block;
    }
    @media(max-width:415px) {
        display:none;
    }
}

.header__nav {
    background-color:rgba(255,255,255,1);
    z-index:1000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-transform:uppercase;
    .nav-contents{
        display: flex;
        justify-content: space-between;
        align-items:center;
        img {
            // opacity: 0.1;
            
        }
    }
    ul {
        display: flex;
        
        
        li {
            font-family:$body-font;
            list-style: none;
            padding: 0 10px;
            margin:0;
            transition: all .4s ease-in-out;
            &:hover a {
                color: $orange;
            }
            a {
                text-decoration: none;
                color:$black;
            }
        }
    }

    @media(max-width:925px) {
        display:none;
    }
}

// RESPONSIVE NAV
input[type="checkbox"] {
    display:none;
}
label[for="toggle"] {
        position: fixed;
        color: black;
        z-index: 6000;
        font-size: 3rem;
        visibility: hidden;
        background-color: $white;
        width:100vw;
        display:flex;
        justify-content: space-around;
        align-items:center;
        img {
            width: 200px;
        }
    }

.header__nav--responsive {
    display: none
}

@media(max-width:925px) {
    .main-navigation {
        display: none;
    }
    label[for="toggle"] {
        cursor: pointer;
        z-index:2010;
        visibility: visible;
    }

    .header__nav--responsive {
        background: rgba(255,255,255,.9);
        position:fixed;
        right: 0;
        top: 0;
        height:100%;
        padding-top: 90px;
        z-index:2000;
        width:40%;     

        @media(max-width:540px) {
            width:100%;
        }

        ul {
            margin:100px auto;
            padding:0;
        }
        li {
            margin: 0;
            padding: 0 15px 15px 0;
            list-style: none;
            transition: all .4s ease-in-out;
            margin: 15px;
            text-align:right;
            margin-right:30px;
            
        }
        a {
            text-decoration:none;
            color:black;
            font-family:$body-font;
            font-size:2.2rem;
            transition: all .4s ease-in-out;
            &:hover{
                color: $orange;
            }
        }  
    }
}

