@mixin flexCenter {
    display:flex;
    justify-content: center;
    align-items:center;
} 

header {
    height: 100vh;
    background-image: url(../../assets/hero/hero-4.jpg);
    background-size: cover;

    @media(max-width:1100px) {
        background-position:center;
    }

    @media(max-width:600px) {
        background-image: url(../../assets/hero/hero-1.jpg);
        background-position:-100px;
    }

    .header__wrapper {
        @include flexCenter;
        flex-direction: column;
        height:100%;
    }
} 


.header__wrapper::before {
    content: "";
    width:800px;
    height:800px;
    position: absolute;
    bottom:5%;
    left:-400px;
    transform: rotate(45deg);
    z-index: 2;
    background: whitesmoke;
    @media(max-width:1100px) {
        left: -500px;
        height:100%;
    }
    @media(max-width:768px) {
        left: -550px;
    }
    @media(max-width:720px) {
        left: -600px;
    }
    @media(max-width:600px) {
        display: none;
    }
}

.title {
    width: 100%;
    text-align:left;
    z-index: 9000;
    img {
        background-color:$white;
        @media(max-width:1100px) {
            display: none;
        }   
    }
}    

img.fixed-logo {
    position:fixed;
    top: 0;
    z-index:30000;
}

.header__nav {
    width: 100%;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color:$white;
    z-index:500;
    text-transform:uppercase;
    .nav-contents{
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    ul {
        display: flex;
        justify-content: space-between;
        width:50%;
        li {
            font-family:$body-font;
            font-size: 1.5rem;
            list-style: none;
            padding: 0 10px;
            margin:0;
            transition: all .4s ease-in-out;
            &:hover a {
                color: $orange;
            }
            a {
                text-decoration: none;
                color:$blacker;
                padding:10px;
            }
        }
    }
}

// RESPONSIVE NAV

.toggle {
    display:none;
    width:100vw;
    position: fixed;
    z-index: 6000;
    background-color: $white;
    justify-content: space-between;
    align-items:center;
    margin: 0;
    padding: 0 5%;
    min-height:60px;
    img {
        max-width: 75%;
    }
}


@mixin boxShadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@mixin hamburgerLines {
    width: 50px;
    height: 5px;
    position: absolute;
    background: #222;
    @include boxShadow();
    transition: .5s;
}

@mixin active-icon {
    top: 0;
    @include boxShadow()
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.icon {
    display: none;
    position: fixed;
    right: 8%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: transparent;
}
@media(max-width:1100px) {
    .icon, .toggle {
        display: flex;
        z-index:2010;
    }
}
.hamburger {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    @include hamburgerLines();
}
.hamburger::before, .hamburger::after {
    content: '';
    @include hamburgerLines();
}
.hamburger::before {
    top: -16px;
}
.hamburger::after {
    top: 16px;
}
.icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
}
.icon.active .hamburger:before {
    @include active-icon();
    transform: rotate(45deg);
}
.icon.active .hamburger:after {
    transform: rotate(135deg);
    @include active-icon();
}

.header__nav--responsive {
    display: none
}

@media(max-width:1100px) {
    .main-navigation {
        display: none;
    }

    .header__nav--responsive {
        background: rgba(255,255,255,.9);
        position:fixed;
        right: 0;
        top: 0;
        height:100%;
        padding-top: 90px;
        z-index:2000;
        width:40%;     

        @media(max-width:540px) {
            width:100%;
        }

        ul {
            margin:100px auto;
            padding:0;
        }
        li {
            padding: 0 15px 15px 0;
            list-style: none;
            transition: all .4s ease-in-out;
            margin: 15px;
            text-align:right;
            margin-right:30px;
        }
        a {
            text-decoration:none;
            color:black;
            font-family:$body-font;
            font-size:2.2rem;
            transition: all .4s ease-in-out;
            &:hover{
                color: $orange;
            }
        }  
    }
}

