 @font-face 
{
    font-family: OpenSans-Regular;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf); 
}
@font-face
{
	font-family: SourceSansPro-Regular;
	src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}
.welcome
{
	font-family: SourceSansPro-Regular;
	color: #715b2a;
	text-align: center;
	margin-top: 50px;
}
.thank_you
{
	color: grey;
	text-align: center;
	margin-top: 10px;
	width: 100px;
}
.thank_you p
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.contact
{
	padding: 0;
}
.contact ul li
{
	list-style: none;
	display: inline-block;
	margin-left: 50px;
	margin-right: 50px;
}
.contact ul
{
	text-align: center;
	padding: 0;
	margin-top: 20px;
}
hr
{
	width: 100%;
	color: grey;
	margin-top: 20px;
}
.caption
{
	font-family: SourceSansPro-Regular;
	color: #373635;
	font-size: 44px;
	font-weight: bold;
	margin-top: 70px;
}
.text
{
	font-family: OpenSans-Regular;
	font-size: 18px;
	margin-top: 20px;
}
img
{
	margin-top: 30px;
}
.list
{
	margin-top: 30px;
	margin-left: 40px;
}
.list ul
{
	padding: 0;
}
.list ul li
{
	list-style: none;
	font-family: OpenSans-Regular;
	font-size: 18px;
	margin-top: 20px;
}
.list ul li div
{
	display: inline-block;
}
.text p
{
	width: 50%;
}
.images
{
	margin-top: 20px;
	padding: 0;
}
@media only screen and (max-width: 992px) {
	.list
	{
		
		margin-left: 0;
	}
}
.nav ul li
{
	display: inline-block;
	margin-left: 50px;
	margin-right: 50px;
}
.nav ul li a
{
	color: #715b2a;
	transition: all .25s ease;
}
.nav ul li a:hover
{
	color: #42320f;
	text-decoration: none;
}
.nav ul
{
	margin-top: 20px;
	padding: 0;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}