@import 'setup';
@import 'typography';
@import 'components/_footer';
@import 'components/_header';

body {
    background-color:whitesmoke
}
.wrapper {
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

section {
    padding-top:8%;
}

#about {
    width:80%;
    margin: 0 auto;
    text-align:justify;

    .about--content {
        // display:flex;
        margin-top:50px;
        // @media(max-width:1100px) {
        //     flex-direction:column;
        // }
        // @media(max-width:1100px) {
        //     display:inline-block;
        // };
    }

    .image--container {
        width: 35%;
        float:left;
        padding:0 5% 0 0;

        @media(max-width:650px) {
            width:50%;
        }

        @media(max-width:550px) {
            width:100%;
            padding:0;
        }

        .image {
        max-width: 100%;
        border-radius:8%;
        }
    }

    .paragraph {
        width:65%;
        // padding-left:10%;
        // @media(max-width:1100px) {
        //     padding:0 0 0 0;
        //     width:100%;
        //     float:left;
        // };
        @media(max-width:600px) {
            text-align:left;
        }
    }

    .paragraph--large-display {
        @media(max-width:768px){
            display: none;
        }
    }
}

#portfolio {
    clear:both;
    padding-bottom:10%;

    .projects--container {
        &::after {
            content: 'flickity';
            display: none; /* hide :after */
        }
    }

    @media screen and ( min-width: 1250px ) {
    /* disable Flickity for large devices */
        
        .projects--container {
            margin:60px auto 0;
            max-width: 80%;
            display:grid;
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: 1fr;
            grid-gap:80px; 
            &::after {
            content: '';
            }
        }
    }
    figure {
        border: 3px solid $orange;
        padding: 5%;
        display:grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap:30px;
        width: 100%;
        height:450px;

        figcaption {
            margin-right:10%;
        }

        .image--container{
            // border:3px orange solid;
            max-width:100%;
            max-height: 100%;
            display: flex;
            justify-content: center;
            align-items:center;
            img {
                max-width:100%;
                max-height: 100%;
            }
        }
    }
}

.flickity-viewport {
    margin:60px auto;
    height:500px;
}

.flickity-page-dots {
        bottom: -50px;
    }

#skills {
width:100%;
min-height:600px;
background-color:$orange;
padding-bottom: 10%;

    h3 {
        text-align:center;
        color:black;

        &::after {
            display:none;
        }
    }
    // @media(max-width:600px){
    //     .wrapper {
    //         width:100%;
    //     }        
    //     }
    .container {
        margin-top:60px;
        ul {
            // display: grid;
            // grid-template-rows: repeat(auto-fill, 100px);
            // grid-template-columns: repeat(auto-fill, 100px);
            // margin: 0 auto;
            // padding:0;
            // grid-gap: 60px;
            display: flex;
            flex-flow:row wrap
        }
        li {
            list-style: none;
            width:100px;
            height:100px;
            text-align:center;
            margin:2.5%;
            &:hover p {
                display:block;
            }
            @media(max-width:480px) {
                width:50px;
                height:50px;
            }

            svg {
                width:90%;
                height:90%;
                // @media(max-width:768px) {
                //     width:50px;
                //     height:50px;
                // }
            }
            i {
                width:100%;
                height:100%;
                font-size:6.4rem;
                text-align:center;
                margin: 0 auto;
                @media(max-width:1100px) {
                    font-size:5rem;
                }
                @media(max-width:768px) {
                    font-size:5rem;
                }
                @media(max-width:480px) {
                    font-size:3rem;
                }
            }
        }
        .paragraph {
            display:none;
            color:black;
        }

        .firebase, .rwd {
            background-size:contain;
            background-repeat: no-repeat;
            color:black;
            text-align:center;
            position:relative;
            max-width:90%;
            &:hover::after {
                position: absolute;
                left: 0;
                bottom: -25%;
                width: 100%;
                text-align:center;
            }
        }
        .firebase {
            background-image:  url("../assets/firebase.svg");
            &:hover::after {
                content: "Firebase"
            }
        }
        .rwd {
            background-image:  url("../assets/responsive.svg");
            &:hover::after {
                content: "responsive"
            }
        }
        @media(max-width:768px) {
            .terminal {
                display:none;
            }
        }
    }
}

#contact{
    height:100vh;
    width:100%;
    background-image: url(../../assets/hero/footer-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    @media(max-width:480px){
        padding-top: 0 10%;
    }
    @media(max-width:480px){
        .wrapper {
            width:100%
        }
        .container {
            padding:10px 10%;
        }
    }
    // @media(max-width:1100px) {
    //     width:75%;
    // } 
    .container {
         background-color: rgba(0,0,0,0.8);
         padding:2%;
         border-radius:10px;
         transform: translateY(20%);
         @media(max-width:1100px) {
             transform: translate(0);
         }
        @media(max-width:768px) {
             padding:10%;
        }
    }
    h3 {
        color:$grey;
        }
    .contact-container {
        width: 50%;
        margin: 0 auto;
        margin-top:60px;
        .paragraph {
            color: $grey;
            font-size:1.2rem;
        }
        @media(max-width:1100px) {
            width:75%;
        } 
        @media(max-width:768px) {
            margin-top:10%;
            width:100%;
            
        }
    }
    .contact--info {
        width: 100%;
        position: relative;
    }
    .small-display {
        display:none;
        @media(max-width: 1100px) {
            margin: 10% auto 0;
            width:45%;
            position:relative;
            display:flex;   
            flex-flow:column nowrap;
            justify-content: center;
            align-items:center;
        }
        @media(max-width: 480px) {
            width:100%;
        }
        
    }

    .large-display {
        display: flex;
        flex-flow:column nowrap;
        justify-content: center;
        position: absolute;
        padding: 0;
        margin:0;
        bottom: 0;
        right: 0;
        @media(max-width: 1100px) {
            display:none;
        }
    }

    .links--container {
        margin-right:2%;
        .email {
            text-align:left;
            a {
                text-decoration: none;
                color: $orange;
                
                &:hover h4 {
                    color:$white;
                }
            }
            h4 {
                padding: 0;
                margin:0;
                color:$orange;
                transition: all .4s ease-in-out;
                @media(max-width:1100px) {
                    margin-top:20px;
                } 
                @media(max-width:740px) {
                    text-align:left;
                }  
            }  
        }
        .social {
            ul {
                display:flex;
                flex-flow: row nowrap;
                padding: 0;
                margin: 0 auto;
                justify-content: space-between;
                @media(max-width:1100px) {
                    flex-flow: row nowrap;
                    margin:0;
                } 
                // @media(max-width:480px) {
                //     flex-flow:
                // }
            }
            li {
                list-style: none;
                padding: 0;
                padding-right:10%;
                padding-top:10px;
                transition: all .4s ease-in-out;
                font-size:2rem;
                @media(max-width:1100px) {
                    font-size:1.5rem;
                }
                &:hover a {
                    color:$grey;
                }
            }
            a{
                color:$orange;
                text-decoration:none;
                
            }
        }
    }
    .contact__form {
        width: 100%;
        .input--container{
            display:flex;
            justify-content:space-between;
            @media(max-width:730px) {
                flex-direction:column;
            }
            input[type="text"], input[type="email"] {
                width: calc(50% - 10px);
                height:45px; 
                margin-bottom:20px;
                background-color: lighten($grey, 10%);
                border:none;
                color:$dark-red;
                font-family: $body-font;
                padding-left: 20px;
                &:focus {
                    border:1px solid $black;
                }
                @media(max-width:730px) {
                width:100%;
                }
            }
            input[type="text"]{
                margin-right:20px;
            }
        }
        textarea {
            width:100%;
            height:290px;
            background-color: lighten($grey, 10%);
            border:none;
            color:$dark-red;
            font-family: $body-font;
            padding: 20px;
            margin-bottom: 50px;
             &:focus {
                border:1px solid $black;
            }
            @media(max-width:730px) {
                width:100%;
                }
        }
        input[type="submit"] {
            width:165px;
            height:45px;
            border-radius:30px;
            background-color: $orange;
            color: $black;
            font-family:$body-font;
            font-weight: 700;
            border:none;
            transition: all .4s ease-in-out;
                &:hover {
                    color:$red;
                }
        }
    }  
}

