@import 'setup.scss';
@import 'typography.scss';
@import 'components/_footer.scss';
@import 'components/_header.scss';

body {
    background-color:whitesmoke
}
.wrapper {
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

section {
    padding-top:5%;
}

#about {
    width:80%;
    margin: 0 auto;
    text-align: justify;
    .about--content {
        margin-top:50px;
        display:flex;
        flex-direction: column;
        align-items:center;
        @media(max-width: 786px) {
            margin-top:20px;
        }
    }
    .paragraph {
        @media(max-width:600px) {
            text-align:left;
        }
    }
    .paragraph--large-display {
        @media(max-width:768px){
            display: none;
        }
    }
}

#portfolio {
    clear:both;
    padding-bottom:10%;
    .projects--container {
        &::after {
            content: 'flickity';
            display: none; /* hide :after */
        }
    }
    @media screen and ( min-width: 1250px ) {
    /* disable Flickity for large devices */
        .projects--container {
            margin:60px auto 0;
            max-width: 80%;
            &::after {
            content: '';
            }
        }
    }
    figure {
        width: 100%;
        display:flex;
        padding: 5%;
        margin: 40px 0;
        border: 3px solid $orange;
        background: white;
        box-shadow:-1px 1px 4px $grey;
        @media(max-width:768px){
            flex-direction:column;
            justify-content:center;
            align-items:center;
            height:600px;
        }
        @media(max-width:500px) {
            height:450px
        }
        figcaption {
            width:50%;
            margin-right: 0 5%;
            @include flexCenter;
            flex-direction: column;
            @media(max-width:768px){
                width:100%;
                order:2;
                .projects--description {
                    margin:0;
                }
            }
        }

        .image--container{
            width:50%;
            @include flexCenter;
            text-align:center;
            img {
                max-width:90%;
                order:1;
            }
            @media(max-width:768px){
                width:100%;
                img {
                    max-width:60%;
                }
            }
        }
    }
}
.flickity-viewport {
    height: 500px;
    margin: 60px auto;
    @media(max-width:768px){
        height: 600px;
        margin: 20px auto;
        }
    @media(max-width:500px) {
        height:400px
    }
}

.flickity-page-dots {
    bottom: -50px;
    @media(max-width:500px) {
        bottom:-10px
    }
}

@media(max-width:500px) {
    .flickity-prev-next-button {
        top:30%;
    }
}

#skills {
    width:100%;
    min-height:600px;
    padding-bottom: 10%;
    @include flexCenter;
    flex-direction: column;
    background-color:$orange;
    @media(max-width:480px) {
        padding-bottom:0;
        min-height:500px;
    }
    h3 {
        text-align:center;
        color:black;
        &::after {
            display:none;
        }
    }
    .container {
        margin-top:7%;
        ul {
            max-width:1075px;
            margin: 0 auto;
            padding:0;
            @include flexCenter;
            flex-flow:row wrap;
        }
        li {
            width:100px;
            height:100px;
            text-align:center;
            margin:30px 2.5%;
            list-style: none;
            color: $blacker;
            p {
                display: none;
                margin:5px;
                padding:0;
                color:$blacker;
                transition: all .3s ease-in;
            }
            &:hover p {
                display:block;
            }
            @media(max-width:480px) {
                width:50px;
                height:50px;
            }
            svg {
                width:90%;
                height:90%;
            }
            i {
                width:100%;
                font-size:5rem;
                text-align:center;
                margin: 0 auto;
                @media(max-width:1100px) {
                    font-size:5rem;
                }
                @media(max-width:768px) {
                    font-size:5rem;
                }
                @media(max-width:480px) {
                    font-size:3rem;
                }
            }
        }
    }
}

#contact{
    min-height:100vh;
    background-image: url(../../assets/footer-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    @include flexCenter;
    @media(max-width:480px){
        padding-top: 0 10%;
    }
    @media(max-width:480px){
        .wrapper {
            width:100%
        }
        .container {
            padding:10px 10%;
        }
        h3 {
            display: none;
        }
    }
    .container {
        width: 100%;
        border-radius:0;
        @media(max-width:768px) {
            padding:10%;
            background-color:transparent;
        }
        @media(max-width:480px) {
            padding: 5% 10%;
            }
    }
    .contact-container {
        width: 50%;
        margin: 20px auto 0;
        .paragraph {
            color: $grey;
            font-size:1.2rem;
        }
        @media(max-width:1100px) {
            width:75%;
        } 
        @media(max-width:768px) {
            width:100%; 
            margin-top:8%;
        }
    }
    .contact--info {
        width: 100%;
        position: relative;
    }
    .small-display {
        display:none;
        @media(max-width: 1100px) {
            width:75%;
            margin:20px auto 0;
            position:relative;
            @include flexCenter;
            flex-flow:column nowrap;
        }
        @media(max-width:768px) {
            width:100%;
        }
    }
    @media(min-width:1100px) {
        #button-small {
            display: none;
        }
    }

    .large-display {
        display: flex;
        flex-flow:row nowrap;
        justify-content: space-between;
        padding: 0;
        margin:0;
        bottom: 0;
        right: 0;
        margin-top:20px;
        #button {
            height:50px;
            max-width:45%;
        }
        .social {
            max-width: 50%
        }
        @media(max-width: 1100px) {
            display:none;
        }
    }

    .links--container {
        .email {
            text-align:left;
            a {
                text-decoration: none;
                color: $orange;   
                &:hover h4 {
                    color:$grey;
                }
            }
            h4 {
                padding: 0;
                margin:0;
                color:$orange;
                transition: all .4s ease-in-out;
                @media(max-width:1100px) {
                    margin-top:20px;
                } 
                @media(max-width:740px) {
                    text-align:left;
                }  
            }  
            @media(max-width: 480px) {
                display: none;        
            }
        }
        .social {     
            width: 100%;           
            ul {
                height:50px;
                margin: 0 auto;
                padding: 10px;
                display:flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                align-items:center;
                border-radius: 0;
                background-color: $orange;
                box-shadow:3px 6px #222;

                @media(max-width:1100px) {
                    flex-flow: row nowrap;
                    margin:0;
                    width:100%;
                    border-radius:0;
                } 
            }

            li {
                list-style: none;
                font-size: 2rem;
                transition: all .3s ease-in-out;
                @media(max-width:1100px) {
                    font-size:1.5rem;
                }
                &:hover a {
                    color:$black;
                }
            }
            a{
                color:$blacker;
                text-decoration:none;
            }
        }
    }
    .contact__form {
        width: 100%;
        .input--container{
            display:flex;
            justify-content:space-between;
            @media(max-width:730px) {
                flex-direction:column;
            }
            input[type="text"], input[type="email"] {
                width: calc(50% - 10px);
                height:45px; 
                margin-bottom:20px;
                padding-left: 20px;
                border:none;
                box-shadow: 3px 6px #222;
                background-color: lighten($grey, 10%);
                color: $blacker;
                font-family: $body-font;
                &:focus {
                    border:1px solid blue;
                }
                @media(max-width:730px) {
                    width:100%;
                }
            }
            input[type="text"]{
                margin-right:20px;
           }
        }
        textarea {
            width:100%;
            height:290px;
            background-color: lighten($grey, 10%);
            padding: 20px;
            margin-bottom:20px;
            box-shadow: 3px 6px #222;
            border: none;
            color: darken($grey, 50%);
            font-family: $body-font;
            &:focus {
                border:1px solid blue;
            }
            @media(max-width:730px) {
                width:100%;
                }
            @media(max-width:480px) {
                height:200px;
            }
        }
    }  
}

